
.DS_Store

Xcode proj/Project2.xcodeproj/xcuserdata/seanlow.xcuserdatad/xcschemes/midcowat.xcscheme

Xcode proj/Project2.xcodeproj/xcuserdata/seanlow.xcuserdatad/xcschemes/xcschememanagement.plist

Xcode proj/Work spaces.xcworkspace/xcuserdata/seanlow.xcuserdatad/UserInterfaceState.xcuserstate
